<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes"/>
<meta charset="utf-8">
<script type="text/javascript" src="/static/jquery.js"></script>

<form action = "/create_n/upload" method = "POST">
    标题:<input type="text" name="title" placeholder="" value="{{name}}" id="name"/><br/>
    <br/>
    内容:<textarea name="txt" cols="50" rows="5" warp="hard" placeholder="say something" id="text" onchange="a()" ></textarea><br/>
    <input type="submit" value="发送"><br/>
</form>

