<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes"/>
<form action = "/private-chat-room/create/upload" method = "POST">
    <h1>创建一个私人聊天室</h1>

    输入你想要的房间名:<input type="text" name="id" placeholder="" value=""/><br/>
    密码：<input type="password" name="password" placeholder="" value=""/><br/>
    <small><i>密码将用于加入您的房间。</i></small><br/>
    <input type="submit" value="创建"><br/>
    <small><i>私人聊天室不会在首页列表公开 在创建者没有泄露密码和房间名的情况下任何人无法加入聊天室(密码与房间名已使用SHA-512加密)</i></small><br/><br/>
</form>