<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes"/>
<a href="/create-new-room">创建房间</a>
<p>聊天室列表:</p><br/>
    {% for i in l %}
    <a href="/room/{{i}}">{{i}}</a><br/>
    {%endfor%}
<br/>
<p>在线的聊天室:</p>

{%for i in online_list%}
<p>房间：<a href="/room/{{i[0]}}">{{i[0]}}</a>&#09;上一次有效访问：{{i[1]}}</p>
{%endfor%}
<br/>
        <a href="/private-chat-room/join">加入非公开匿名聊天室</a>
    <br/><br/>
    <a href="/private-chat-room/create">创建非公开匿名聊天室</a>
<br/>