<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes"/>
<title>聊天室</title>
<meta charset="utf-8">
<script type="text/javascript" src="/static/jquery.js"></script>
<p>房间：{{id}}</p>
<form action = "/room/{{id}}/upload" method = "POST">
<!--{{name}}-->
    <br/>
    内容:<textarea name="text" cols="50" rows="5" warp="hard" placeholder="say something" id="text" onchange="a()" >{{text}}</textarea><br/>
    <input type="submit" value="发送"><br/>
    <strong style="color:red">{{tips}}</strong>

</form>
<br/>
<hr/>
<div id="dq">
    {%for i in message%}
    <pre>UID:{{i[0]}} Time:{{i[2]}} <!--{{i[3]}}--></pre>
<!--    {{i[7]}}-->
    <small>Says:</small><pre>{{i[1]}}</pre>
<!--    {{i[8]}}{{i[4]}}{{i[5]}}{{i[6]}})-->
    <hr/>
    {%endfor%}
</div>
<small>到底了</small>


<script type="text/javascript">
setInterval(function() {
    $("#dq").load(location.href+" #dq>*","");
}, 3000);
</script>
